@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import "_nav.scss";
@import "_variables.scss";
@import "_sections.scss";
@import "_errands.scss";
@import "_error404.scss";

body {
  font-family: "EB Garamond", Garamond, Georgia, serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.checked-handlers .css-1y8kf23 {
  margin: 0 !important;
}

.backgroundImage-background {
  margin: auto;
  background-color: white;
}

.fade-background-container {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
  .fade-background-left,
  .fade-background-right {
    height: 100%;
    width: 100px;
    position: absolute;
    transition: width 2s ease-in;
  }
  .fade-background-left {
    left: 0;
    top: 0;
    background: white;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 30%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .fade-background-right {
    right: 0;
    top: 0;
    background: white;
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 30%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

@media screen and (max-width: 3000px) {
  .fade-background-container {
    .fade-background-left,
    .fade-background-right {
      width: 0;
    }
  }
}
